- let sep = '<i class="fa fa-superpowers" aria-hidden="true"></i>';
section#portfolio.container-fluid.whole.section.fp-auto-height-responsive
	h1#seifsg SeifSG
	h2 Recent work
	.row
		.col-lg-4.col-md-6.col-sm-12
			a.card(href='#')
				.card-block
					.img-card
						img.w-100(src="../imgs/portfolio/ePortal.JPG")
					header.title-header
						h3 ePortall
					p.tagline.card-text.text-xs-center
						| C# ASP.NET MVC !{sep} SignalR !{sep} EntityFramework !{sep} jQuery !{sep} Bootstrap
		.col-lg-4.col-md-6.col-sm-12
			a.card(href='#')
				.card-block
					.img-card
						img.w-100(src="../imgs/portfolio/ePortal.JPG")
					header.title-header
						h3 ePortall
					p.tagline.card-text.text-xs-center
						| C# ASP.NET MVC !{sep} SignalR !{sep} EntityFramework !{sep} jQuery !{sep} Bootstrap
				
		.col-lg-4.col-md-6.col-sm-12
			a.card(href='#')
				.card-block
					.img-card
						img.w-100(src="../imgs/portfolio/ePortal.JPG")
					header.title-header
						h3 ePortall
					p.tagline.card-text.text-xs-center
						| C# ASP.NET MVC !{sep} SignalR !{sep} EntityFramework !{sep} jQuery !{sep} Bootstrap
		.col-lg-4.col-md-6.col-sm-12
			a.card(href='#')
				.card-block
					.img-card
						img.w-100(src="../imgs/portfolio/ePortal.JPG")
					header.title-header
						h3 ePortall
					p.tagline.card-text.text-xs-center
						| C# ASP.NET MVC !{sep} SignalR !{sep} EntityFramework !{sep} jQuery !{sep} Bootstrap
		.col-lg-4.col-md-6.col-sm-12
			a.card(href='#')
				.card-block
					.img-card
						img.w-100(src="../imgs/portfolio/ePortal.JPG")
					header.title-header
						h3 ePortall
					p.tagline.card-text.text-xs-center
						| C# ASP.NET MVC !{sep} SignalR !{sep} EntityFramework !{sep} jQuery !{sep} Bootstrap
				
		.col-lg-4.col-md-6.col-sm-12
			a.card(href='#')
				.card-block
					.img-card
						img.w-100(src="../imgs/portfolio/ePortal.JPG")
					header.title-header
						h3 ePortall
					p.tagline.card-text.text-xs-center
						| C# ASP.NET MVC !{sep} SignalR !{sep} EntityFramework !{sep} jQuery !{sep} Bootstrap
							

